body {
    background-color:#f8f8f8 ;
}

.container {
    display: inline-block;
    width: 1000px;
    margin-top: 150px;
    margin-left: calc( 50% - 500px);
}
     header {
            display: inline-block;
            float: right;
            width: 100%;
            margin: 20px;
        }
            .logo {
             display: inline-block;
             float: left;
             height: 60px;
            }
            nav {
                display: inline-block;
                float: right;
                margin: auto;
                font-size: 15px;
            }
            a { 
                display: inline-block;
                float: left;
                padding: 4px;
                padding-right: 20px;
                padding-left: 20px;
                margin-left: 10px;
                font-size: 20px;
                line-height: 20px;
                color: #BCBCBC;
                text-decoration: none;
            }
                .btn {
                    display: inline-block;
                    margin-top: 0px;
                    padding: 2px;
                    padding-left: 15px;
                    padding-right: 15px;
                    border: 2px solid #BCBCBC;
                    border-radius: 20px;                
                }
    section {
        display: inline-block;
        width: 100%;
        margin-left: 80px;
    }  
        div {
            display: inline-block;
            width: 42%;
            float: left;
            margin-top: 50px;
            color: #9e9e9e;
        }
            h1 {
                display: inline-block;
                text-align: center;
                width: 100%;
                font-size: 80px;
                line-height: 80px;
            }
            p {
                display: inline-block;
                width: 100%;
                font-size: 32px;
                line-height: 40px;
            }
        .mergaite {
            display: inline-block;
            width: 40%;
            float: right;
            margin-left: 5%;
         }   